.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.postInfos {
  font-size: 1.25rem;
  display: flex;
  align-items: center;

  span {
    font-size: 0.875rem;
    margin: 0 1.5rem 0 0.5rem;
  }
}
